/* Button.module.css */
.microphoneButton {
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background-color: #4CAF50;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* transition: all 0.3s ease-in-out; */
}

.speaking {
  animation: bounce 0.5s infinite alternate, blinkOuter 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes blinkOuter {

  0%,
  100% {
    box-shadow: 0 0 0 20px rgba(0, 255, 0, 0.1);
  }

  50% {
    box-shadow: 0 0 0 15px rgba(0, 255, 0, 0.3);
  }
}

/* @keyframes blinkInner {
  0%, 100% { box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.4); }
  50% { box-shadow: 0 0 0 16px rgba(0, 255, 0, 0.6); }
} */